<% include header.html %>
<body>
<% include topbar.html %>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <form role="form" id="login" method="post">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                    <h4 class="modal-title" id="myModalLabel">
                        用户登录
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>账号</label>
                        <input type="text" name="name" class="form-control" placeholder="email/phone/nickname" required="">
                    </div>
                    <div class="form-group">
                        <label>密码</label>
                        <input type="password" name="pwd" class="form-control" placeholder="password" required="">
                        <div class="clearfix note">
                            <a href="#" class="pull-right">Forget Password?</a>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-default"-->
                    <!--data-dismiss="modal">关闭-->
                    <!--</button>-->
                    <button id="validate-submit" type="button" class="btn btn-primary">登录</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </form>
    <!-- /.modal -->
</div>
<div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active" style="background:#223240">
            <img src="/static/img/slide1.jpg" alt="第一张">
        </div>
        <div class="item" style="background:#F5E4DC;">
            <img src="/static/img/slide2.jpg" alt="第二张">
        </div>
        <div class="item" style="background:#F5E4DC;">
            <img src="/static/img/slide3.jpg" alt="第三张">
        </div>
        <!-- 		<div style="background:#eee;">
                    <img src="img/slide.png" alt="第三张">
                </div> -->
    </div>
    <a href="#myCarousel" data-slide="prev" class="carousel-control left">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a href="#myCarousel" data-slide="next" class="carousel-control right">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>


<div class="tab1">
    <div class="container">
        <h2 class="tab-h2">「Why We Select the Training Lab」</h2>
        <p class="tab-p">Experience Teacher and perfect practice class.</p>
        <div class="row">
            <div class="col-md-6 col">
                <div class="media">
                    <div class="media-left">
                        <a href="#"><img src="" class="media-object" alt="1"></a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Course</h4>
                        <p class="text-muted">Others：Books has no evaluate to use!</p>
                        <p>Us：Well-known businessman write the Good Book!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col">
                <div class="media">
                    <div class="media-left">
                        <a href="#"><img src="" class="media-object" alt="2"></a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Teacher</h4>
                        <p class="text-muted">Others: Unknown Teacher from small village!</p>
                        <p>Us: Well-known Teacher from all over the world!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col">
                <div class="media">
                    <div class="media-left">
                        <a href="#"><img src="" class="media-object" alt="3"></a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Arrangement</h4>
                        <p class="text-muted">Others: Low efficient.</p>
                        <p>Us: Ensure the time to study!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col">
                <div class="media">
                    <div class="media-left">
                        <a href="#"><img src="" class="media-object" alt="4"></a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Team work</h4>
                        <p class="text-muted">Others: Normal workers. </p>
                        <p>Us: High-Classic level workers all like family</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="tab2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 tab2-img">
                <img src="" class="auto img-responsive center-block" alt="12">
            </div>
            <div class="text col-md-6 col-sm-6 tab2-text">
                <h3>Stronger manage system</h3>
                <p>Administrator take charge of your study. You will improve.</p>
            </div>
        </div>
    </div>
</div>


<div class="tab3">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <img src="" class="auto img-responsive center-block" alt="13">
            </div>
            <div class="text col-md-6 col-sm-6">
                <h3>Perfect skills</h3>
                <p>Most useful and efficient skills that will teach you.</p>
            </div>
        </div>
    </div>
</div>
<% include footer.html %>
<script>
    $(function(){
        $('#validate-submit').click(function (){
            var data = $('#login').serialize();
            $.ajax({
                url: "/index/login",
                type: "post",
                data: data,
                success: function(msg){
                    if(msg.data.id){
                        location.reload(true);
//                        redirect('index_login.html');
//                        alert("Successful!");
                    }else {
//                        redirect('index_error.html');
                        alert("Error!");
                    }
                },
                error: function(error){
                    console.log(error + " ajax return error!");
                }
            })
        });
    });
    //轮播自动播放
    $('#myCarousel').carousel({
        interval : 4000
    });
</script>
</body>
</html>