<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="" class="logo">
                <img src="/static/img/niit.jpg"  alt="NIIT education">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href=""><span class="glyphicon glyphicon-home"></span> Home</a></li>
                <!--<li><a href=""><span class="glyphicon glyphicon-list"></span> Course</a></li>-->
                <!--<li><a href=""><span class="glyphicon glyphicon-fire"></span> Exam</a></li>-->
                <!--<li><a href=""><span class="glyphicon glyphicon-question-sign"></span> Contact</a></li>-->
                <% if (controller.islogin) { %>
                <li><a>您好, <%- controller.user.username -%></a></li>
                <li>
                    <a class="dropdown-toggle no-text-underline" data-toggle="dropdown" href="#"><i
                            class="fa fa-user hidden-xs"></i> 会员中心</a>
                    <ul class="dropdown-menu pull-right">
                        <li><a tabindex="-1" href="/index/user"><i class="fa fa-bank"></i>我的中心</a></li>
                        <li class="divider"></li>
                        <li><a tabindex="-1" href=""><i class="fa fa fa-reorder"></i> 我的订单</a></li>
                        <li><a tabindex="-1" href=""><i class="fa fa-bookmark"></i> 我的关注</a></li>
                        <!--<li><a tabindex="-1" href=""><i class="fa fa-cny"></i> 账号金额</a></li>-->
                        <!--<li><a tabindex="-1" href=""><i class="fa fa-money"></i> 优惠券</a></li>-->
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="/index/logout"><i class="fa fa-sign-out"></i> 退出登录</a></li>
                    </ul>
                </li>
                <% } else {%>
                <li><a href="#" data-toggle="modal" data-target="#loginModal"><span class="glyphicon glyphicon-user"></span>Login</a></li>
                <li><a href="#" data-toggle="modal" data-target="#registerModal"><span class="glyphicon glyphicon-plus-sign"></span>Register</a>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>