<div class="col-lg-2 col-md-2 col-sm-4">

    <!--<div class="thumbnail text-center avatar-view hide">-->
        <!--<img src="#" alt="<%# controller.user.username #%>" style="width: 100%"/>-->

        <!--<h2 class="size-18 margin-top-10 margin-bottom-0"><%# controller.user.username #%></h2>-->

        <!--<h3 class="size-11 margin-top-0 margin-bottom-10 text-muted">DEVELOPER</h3>-->
    <!--</div>-->

    <!-- completed -->
    <div class="margin-bottom-30 hide">
        <label>88% completed profile</label>

        <div class="progress progress-xxs">
            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="88" aria-valuemin="0"
                 aria-valuemax="100" style="width: 88%; min-width: 2em;"></div>
        </div>
    </div>
    <!-- /completed -->

    <!-- SIDE NAV -->
    <ul class="side-nav list-group margin-bottom-60" id="sidebar-nav">
        <li class="list-group-item "><a href="/index/user"><i
                class="fa fa-home"></i> 用户主页</a></li>
        <li class="list-group-item list-toggle">
            <!-- NOTE: "active" to be open on page load -->
            <a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-0"><i class="fa fa-newspaper-o"></i>
                Borrow System</a>
            <ul id="collapse-0" class="collapse in"><!-- NOTE: "collapse in" to be open on page load -->
                <li><a href="/index/bookstore" class=""><i class="fa fa-angle-right"></i> Borrow(借书)</a></li>
                <li><a href="#"><i class="fa fa-angle-right"></i> Return(还书)</a></li>
            </ul>
        </li>
        <li class="list-group-item list-toggle">
            <!-- NOTE: "active" to be open on page load -->
            <a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-1"><i class="fa fa-shopping-cart"></i>
                交易管理</a>
            <ul id="collapse-1" class="collapse in"><!-- NOTE: "collapse in" to be open on page load -->
                <li><a href="#" class=""><i class="fa fa-angle-right"></i> 我的订单</a></li>
                <li><a href="#"><i class="fa fa-angle-right"></i> 退款申请</a></li>
                <li><a href="#"><i class="fa fa-angle-right"></i> 我的关注</a></li>
            </ul>
        </li>
        <li class="list-group-item list-toggle">   <!-- NOTE: "active" to be open on page load -->
            <a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-2"><i class="fa fa-server"></i>
                客户服务</a>
            <ul id="collapse-2" class="collapse in"><!-- NOTE: "collapse in" to be open on page load -->
                <li class=""><a href=""><i class="fa fa-angle-right"></i> 商品咨询</a></li>
                <li><a href="#"><i class="fa fa-angle-right"></i> 商品评价</a></li>
                <li class="active"><a href="#"><i class="fa fa-angle-right"></i> 我的消息</a></li>

            </ul>
        </li>
        <li class="list-group-item list-toggle">   <!-- NOTE: "active" to be open on page load -->
            <a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-3">
                <i class="fa fa-user"></i> 账户管理</a>
            <ul id="collapse-3" class="collapse in"><!-- NOTE: "collapse in" to be open on page load -->
                <li><a href="/member/index" class=""><i class="fa fa-angle-right"></i> 个人信息</a></li>
                <li><a href="" class=""><i class="fa fa-angle-right"></i> 收货地址</a></li>
                <li><a href="#"><i class="fa fa-angle-right"></i> 我的优惠券</a></li>
                <li><a href="" class=""><i class="fa fa-angle-right"></i> 账户金额</a></li>
                <li><a href="#"><i class="fa fa-angle-right"></i> 我的积分</a></li>
            </ul>
        </li>
        <li class="list-group-item"><a href="/index/logout"><i class="fa fa-sign-out"></i> 退出登录</a></li>
    </ul>
    <!-- /SIDE NAV -->
</div>